:root {
	--primaria: #4a2ad4;
	--secundaria: #00c8bb;
	--fundo: #eff3f8;
	--sombra: #fcfcfc;
	--branco: #ffffff;
	
}

@font-face {
	font-family: 'Nunito-Regular';
	src: url('/fontes/Nunito-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito-Light';
	src: url('/fontes/Nunito-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito-Bold';
	src: url('/fontes/Nunito-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito-Italic';
	src: url('/fontes/Nunito-Italic.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Nunito-Regular', sans-serif;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

.btn{
	background-color: var(--branco);
	border: none;
	font-weight: 400;
	padding: 0.5rem;
	border-radius: 0.2rem;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);

}
.input{
	background-color: var(--branco);
	border: none;
	font-weight: 400;
	padding: 0.5rem;
	border-radius: 0.2rem;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}
